@media(min-width: 1300px) and (max-width : 1370px){
    .img5{
        margin-left: 95px;
        width: 23%;
        margin-bottom: 12px;
        margin-top: 10px;
    }
    .img6{
        text-align: center;
        font-size: 20px;
        line-height: 23px;
    }
    .img8{
        text-align: center;
        font-size: 20px;
        color: #FF9924;
        font-weight: bold;
    }
    .btn4{
        border-radius: 29px;
        background: #FF9924;
        color: white;
        margin-left: 15px;
        font-size: 20px;
        width: 105px;
        height: 50px;
    }
    .btn3{
        border-radius: 29px;
        margin-left: 12px;
        background: hsl(0, 0%, 73%);
        color: white;
        font-size: 20px;
        width: 105px;
        height: 50px;
    }
    .btn2{
        background: #8DC63F;
        color: white;
        margin-left: -225px;
        margin-top: -20px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        margin-bottom: 18px;
    }
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 224px;
        margin-top: 103px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        margin-bottom: -6px;
    }
    .svg{
        margin-top: 10px;
    }
    .text{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 9px;
        color: #161616;
    }
    .table td, .table th{
        padding: 6px;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }
    .table{
        width: 49%;
    margin-bottom: 1rem;
    color: #212529;
    background: white;
    margin-left: 169px;
    margin-top: 90px;
    text-align: center;
    }
    .img2{
        float: left;
        margin-left: 182px;
        margin-top: 136px;
        width: 15%;
    }
    .img3{
        color: #FF9924;
        font-size: 34px;
        font-weight: bold;
        margin-top: 169px;
        margin-left: 283px;
    }
    .img4{
        text-align: center;
        font-size: 24px;
        /* width: 70%; */
        margin-top: 40px;
        margin-left: 150px;
        line-height: 28px;
        margin-right: 150px;
    }
    .content2{
        width: 50%;
        height: 100%;
        float: left;
      }
      .content3{
        width: 50%;
        float: right;
        height: 100%;
        box-shadow: 5px 0px 2px 5px grey;
      }
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-left: 0px;
        z-index: 9999;
        position: relative;
    }
    .img1{
        margin-left: 519px;
        width: 13%;
    }
    .img7{
        margin-left: 57px;
        margin-top: -4px;
    }
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 99999;
        display:none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
      -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    }
    .modalDialog2{
        background-color: white;
        width: 21% !important;
        margin-top: 201px !important;
        margin-left: 531px !important;
    }
}

@media(max-width: 768px) {
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -8px;
        margin-left: 0px;
        padding-top: 17px;
    }
    .img1{
        margin-left: 83px;
        margin-top: 17px;
        width: 39%;
    }
    
    .img2{
        float: left;
        margin-left: 79px;
        margin-top: -12px;
        width: 15%;
    }
    
    .img3{
         color: #FF9924;
         font-size: 25px;
         font-weight: bold;
         margin-top: 47px;
         margin-left: 154px;
    }
    
    .img4{
        text-align: center;
        font-size: 21px;
        width: 85%;
        margin-top: 39px;
        margin-left: 39px;
        line-height: 22px;
    }
    
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 107px;
        margin-top: 107px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        margin-bottom: -6px;
    }
    
    .btn2{
        background: #8DC63F;
        color: white;
        margin-left: 107px;
        margin-top: 24px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        margin-bottom: 18px;
    }
    
    .table {
        width: 85%;
        margin-bottom: 1rem;
        color: #212529;
        background: white;
        margin-left: 40px;
        margin-top: 47px;
        text-align: center;
    }
    
    .table td, .table th {
        padding: 6px;
        vertical-align: top;
        border: 1px solid #dee2e6;
        /* border-right: 1px solid #dee2e6; */
    }
    
    .text{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 9px;
        color: #161616;
    }
    
    .modal-content {
        position: relative;
        display: flex;
        margin-left: 43px;
        flex-direction: column;
        width: 80%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 10px;
        outline: 0;
        margin-top: 153px;
    }
    
    .img5{
        margin-left: 95px;
        width: 23%;
        margin-bottom: 12px;
        margin-top: 10px;
    }
    
    .img6{
        text-align: center;
        font-size: 20px;
        line-height: 23px;
    }
    
    .btn3{
        border-radius: 29px;
        margin-left: 12px;
        background: hsl(0, 0%, 73%);
        color: white;
        font-size: 20px;
         width: 105px;
         height: 50px;
    }
    
    .btn4{
        border-radius: 29px;
        background: #FF9924;
        color: white;
        margin-left: 15px;
        font-size: 20px;
          width: 105px;
          height: 50px;
    }
    
    .img7{
        margin-left: 37px;
        margin-top: 17px;
    }
    
    .svg{
        margin-top: 10px;
    }
    
    .img8{
        text-align: center;
        font-size: 20px;
        color:#FF9924;
        font-weight: bold;
    }
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 99999;
        display:none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
      -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    }
    .modalDialog2{
        background-color: white;
        width: 70% !important;
        margin-top: 201px !important;
        margin-left: 61px !important;
    }
}

@media(max-width: 390px){
    .img5{
        margin-left: 92px;
        width: 23%;
        margin-bottom: 12px;
    }
    .img1{
        margin-left: 65px;
        margin-top: 17px;
        width: 39%;
    }
    .btn3{
        border-radius: 29px;
        margin-left: 11px;
        background: hsl(0, 0%, 73%);
        color: white;
        font-size: 20px;
        width: 105px;
        height: 50px;
    }
    .img4{
        text-align: center;
        font-size: 20px;
        width: 85%;
        margin-top: 39px;
        margin-left: 29px;
        line-height: 16px;
    }

    .img3{
        color: #FF9924;
        font-size: 25px;
        font-weight: bold;
        margin-top: 47px;
        margin-left: 135px;
    }
    .table{
        width: 85%;
        margin-bottom: 1rem;
        color: #212529;
        background: white;
        margin-left: 29px;
        margin-top: 47px;
        text-align: center;
    }
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 71px;
        margin-top: 47px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        margin-bottom: -6px;
    }
    .btn2{
        background: #8DC63F;
        color: white;
        margin-left: 71px;
        margin-top: 24px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        margin-bottom: 18px;
    }
}