<div class="content">
  <img src="assets/Imagenes/icn_back.png" class="img7">
<a routerLink="/"><img src="assets/Imagenes/Captura1.PNG" class="img1"></a>
    </div>
<div class="content2">
    <img src="assets/Imagenes/Captura2.PNG" class="img2"><p class="img3">¡Bienvenido!</p>
    <p class="img4">Realiza <b style=" color: #FF9924;">check-in</b> dando clic en el icono <img src="assets/Imagenes/captura3svg.svg" style="margin-right: 5px;"> para indicar que te subiras a la ruta que corresponde.</p>
  </div>

  <div class="content3">
    <table class="table">
        <tbody>
            <tr *ngFor="let item of rutas">
                <td><a routerLink="/DetalleRutaComponent" (click)="rutaActual(item.idRuta)"><p class="text">Ruta {{item.idRuta}}</p></a></td>
                <th scope="row" style="width: 20%;" (click)="modal(item.idRuta)"> <img src="assets/Imagenes/icn_check_in.svg"  class="svg"></th>
              </tr>
        </tbody>
    </table>

<a routerLink="/RutasComponent"><button type="submit" class="btn btn1" >Agregar rutas</button></a>
   <a routerLink="/NovedadesComponent"><button type="submit" class="btn btn2" >Novedades</button></a>
  </div>
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
            <img src="assets/Imagenes/icn_pop_up.svg" class="img5">
            <p class="img6">¿Est&aacute;s seguro de registrar tu ingreso a la ruta?</p>
            <p class="img8">Ruta 1</p>
            <button type="button" class="btn btn3" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn4" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div> -->
      <div id="modal" class="modalDialog">
        <div class="modalDialog2">
          <img src="assets/Imagenes/icn_pop_up.svg" class="img5">
          <p class="img6">¿Est&aacute;s seguro de registrar tu ingreso a la ruta?</p>
          <p class="img8">Ruta {{idRuta[0].idRuta}}</p>
          <button class="btn btn3" (click)="modal2()">Cancelar</button>
          <button class="btn btn4" (click)="check()">Aceptar</button>
        </div>
      </div>