@media(max-width: 768px)
and (max-device-width : 1826px)  { 
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 103px;
        margin-top: 24px;
        height: 50px;
        border-radius: 30px;
        width: 200px; 
    }
    
    .btn2{
        background: white;
        color:#FF9924;
        border:  solid 1px #FF9924;
        margin-left: 103px;
        margin-top: 15px;
        height: 50px;
        border-radius: 30px;
        width: 200px; 
    }
    .content{
        background: #FF9924;
        width: 101%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -8px;
        margin-left: 0px;
    }
    
    .img1{
        margin-left: 116px;
        margin-top: 19px;
        width: 43%;
    }
    
    .text{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-top: 108px
    }
    
    .img2{
        width: 53%;
        margin-left: 93px;
        margin-top: -12px;
    }
    
    .text2{
        text-align: center;
        width: 80%;
        font-size: 17px;
        margin-left: 43px;
        margin-top: 11px;
    }
}

