<div class="content">
<img src="assets/Imagenes/Captura1.PNG" class="img1">
</div>
<p class="text">¡Ingresa tu código QR!</p>
<a routerLink="/Formulario2Component"><img src="assets/Imagenes/qr3.PNG" class="img2"></a>
<p class="text2">Apunta tu teléfono hacia la pantalla para escanear el código 
    y registrarte.</p>
    <a routerLink="/Formulario2Component" class="btn1 btn"><p>Usuario nuevo</p></a>
    <a routerLink="/Formulario1Component" class="btn2 btn"><p>Usuario registrado</p></a>