
@media(min-width: 1300px)
and (max-width : 1370px){
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-left: 0px;
    }
    .img1{
        margin-left: 519px;
        width: 13%;
    }
    .img7{
        margin-left: 57px;
        margin-top: -4px;
    }
   
}
@media(max-width: 768px) {
    .content{
        background: #FF9924;
        width: 101%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -8px;
        margin-left: 0px;
    }
    .img1{
        margin-left: 116px;
        margin-top: 19px;
        width: 43%;
    }
    
    .img2{
        float: left;
        margin-left: 79px;
        margin-top: 133px;
        width: 20%;
    }
    
    .img3{
        float: left;
        color: #FF9924;
        font-size: 30px;
        font-weight: bold;
        margin-top: 154px;
        margin-left: 8px;
    }
    
    .img4{
        text-align: center;
        font-size: 24px;
        width: 80%;
        margin-left: 49px;
        line-height: 31px;
    }
    
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 118px;
        margin-top: 107px;
        height: 50px;
        border-radius: 30px;
        width: 200px;
        margin-bottom: -6px;
    }
    
    .btn2{
        background: #8DC63F;
        color: white;
        margin-left: 118px;
        margin-top: 24px;
        height: 50px;
        border-radius: 30px;
        width: 200px;
        margin-bottom: 18px;
    }
}
