<div class="content">
    <img src="assets/Imagenes/Captura1.PNG" class="img1">
    <a routerLink="/Formulario2Component"><img src="assets/Imagenes/Captura1.PNG" class="img1"></a>
    </div>

    <img src="assets/Imagenes/Captura2.PNG" class="img2"><p class="img3">¡Bienvenido!</p>
    <p class="img4">Actualmente no tienes <b>rutas registradas</b></p>
    <p class="img4">Ingresa a la seccion <b style=" color: #FF9924;">Agregar rutas</b> para seleccionarla</p>

    <button type="submit" class="btn btn1" >Agregar rutas</button>
    <button type="submit" class="btn btn2" >Novedades</button>