<div class="content">
    <img src="assets/Imagenes/Captura1.PNG" class="img1">
    </div>

    <div class="titulo">
<p class="text3">Ruta 1 prueba</p>
<p class="text4">Tienes 5 actividades para hoy</p>
    </div>

    <div class="titulo2">
        <br/>
        <p class="text5">SALIR DE WIGI</p>
        <p class="text6">Calle 119 # 14 - 42</p>
        <div class="circulo2"><img class="img2" src="assets/Imagenes/Cir1.PNG"></div>
        <p class="p1">ESTUDIANTE SUBIO</p><p class="p2">ESTUDIANTE BAJO</p>
    </div>
    <div class="titulo3">
        <div class="container">
            <div class="row">
                <div class="col"><p class="text">PENDIENTE</p></div>
                <div class="col"><a href="#"><p class="text1">Cambiar estado</p></a></div>
            </div>
        </div>
    </div>

    <div class="titulo4">
        <div class="col"><a href="#"><p>Cerrar opciones</p></a></div>
        <div class="circulo">
            <img class="img3" src="assets/Imagenes/cir2.PNG">
        </div>
        <div class="circulo">
            <img class="img4" src="assets/Imagenes/cir3.PNG">
        </div>
        <a routerLink="/PasajeroComponent"><div class="circulo">
            <img class="img5" src="assets/Imagenes/cir4.PNG">
        </div></a>
        <div class="circulo">
            <img class="img6" src="assets/Imagenes/cir5.PNG">
        </div>
        <div class="circulo">
            <img class="img3" src="assets/Imagenes/cir6.PNG">
        </div>
        <div class="titulo5">
           <p class="text2">Terminar servicio</p> 
        </div>
    </div>