.content{
    background: #FF9924;
    width: 101%;
    border-radius: 0px 0px 20px 20px;
    margin-top: -8px;
    margin-left: 0px;
}

.img1{
    margin-left: 125px;
    margin-top: 13px;
    margin-bottom: 15px;
    width: 43%;
}

.titulo{
    text-align: center;
    background: white;
    border-radius: 5px;
    width: 240px;
    box-shadow: 1px 1px 4px #999;
    margin-top: -6px;
    margin-left: 93px;
}

.titulo2{
    background: white; 
    box-shadow: 1px 1px 1px #999;
    padding-bottom: 65px;
}

.titulo3{
    background: white; 
    box-shadow: 1px 1px 1px #999;
    text-align: center;
}
.p1{
    border: solid 1px black;
    padding: 7px;
    width: 168px;
    border-radius: 16px;
    margin-left: 29px;
    text-align: center;
    float: left;
}

.p2{
    border: solid 1px black;
    padding: 7px;
    width: 168px;
    text-align: center;
    border-radius: 16px;
    margin-left: 29px;
    float: left;
}

a{
    text-decoration: none;
}

.text1{
    margin-top: 17px;
}

.text{
  color: #FF9924;  
  font-weight: bold;
  margin-top: 17px;
}

.titulo4{
    background: white;
    box-shadow: 1px 1px 1px #999;
    text-align: right;
    width: 90%;
    margin-left: 27px;
    margin-top: 130px;
    border-radius: 6px;
    padding-bottom: 1px;
}

.circulo{
    width: 60px;
    height: 60px;
    box-shadow: 1px 1px 1px #999;
    border-radius: 50%;
    float: left;
    margin-left: 11px;
}

.circulo2{
    width: 60px;
    height: 60px;
    box-shadow: 1px 1px 1px #999;
    border-radius: 50%;
    background:  #FEA942; 
    margin-top: -77px;
    margin-left: 306px;
    margin-bottom: 24px;
}


.text3{
    font-weight: bold;
    padding-top: 16px;
    margin-bottom: 7px;
}

.text4{
    margin-top: -9px;
    padding-bottom: 19px;
}

.titulo5{
    background: #A4C15C;
    margin-top: 92px;
    width: 95%;
    margin-left: 9px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.text2{
 font-weight: bold;
 padding: 9px;   
}

.text5{
    font-weight: bold;
    margin-left: 21px;
}

.text6{
    margin-left: 21px;
}

.img2{
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 12px;
}

.img3{
    border-radius: 12px;
    position: relative;
    top: 9px;
    left: -6px;
}

.img4{
    border-radius: 12px;
    position: relative;
    top: 9px;
    left: -10px;
}

.img5{
    border-radius: 12px;
    position: relative;
    top: 9px;
    left: -11px;
}

.img6{
    border-radius: 12px;
    position: relative;
    top: 8px;
    left: -11px;
    width: 58%;
}

@media(max-width: 390px){
    .circulo2{
        width: 60px;
        height: 60px;
        box-shadow: 1px 1px 1px #999;
        border-radius: 50%;
        background: #FEA942;
        margin-top: -77px;
        margin-left: 270px;
        margin-bottom: 24px;
    }

    .p1{
        border: solid 1px black;
        padding: 7px;
        width: 168px;
        border-radius: 16px;
        margin-left: 11px;
        text-align: center;
        float: left;
    }

    .p2{
        border: solid 1px black;
        padding: 7px;
        width: 168px;
        text-align: center;
        border-radius: 16px;
        margin-left: 7px;
        float: left;
    }

    .circulo{
        width: 60px;
        height: 60px;
        box-shadow: 1px 1px 1px #999;
        border-radius: 50%;
        float: left;
        margin-left: 3px;
    }
}