<div class="content">
    <img src="assets/Imagenes/icn_back.png" class="img7">
<a routerLink="/Home3Component"><img src="assets/Imagenes/Captura1.PNG" class="img1"></a>
    </div>
    <div class="content2">
    <p class="img3">Empresa</p>
    <p class="text">Elige la ruta que te <b>fue asignada</b> para tus recorridos.</p>
    <p class="text1">Una vez lo hagas, podras verla en tu <b style="color: #FF9924;">lista de rutas</b> en la secci&oacute;n anterior.</p>
</div>
<div class="content3">
    <table class="table">
        <tbody>
            <tr *ngFor="let item of rutas">
                <td><a routerLink="/Formulario1Component" (click)="rutaActual(item.idRuta)"><p class="text2">{{item.nombre}}</p></a></td>
              </tr>
        </tbody>
    </table>
    <br/>
</div>