@media(min-width: 1300px) and (max-width : 1370px){
    .table td, .table th{
        padding: 6px;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }
    .text2{
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #161616;
    }
    .table{
        width: 49%;
        margin-bottom: 1rem;
        color: #212529;
        background: white;
        margin-left: 174px;
        margin-top: 87px;
        text-align: center;
    }
    .text1{
        font-size: 24px;
        text-align: center;
        /* width: 80%; */
        margin-left: 130px;
        margin-right: 130px;
        line-height: 23px;
        margin-top: -6px;
        margin-bottom: 35px;
    }
    .text {
        text-align: center;
        font-size: 24px;
        /* width: 79%; */
        margin-left: 130px;
        line-height: 23px;
        margin-right: 130px;
    }
    .img3{
        color: #FF9924;
        font-size: 34px;
        font-weight: bold;
        margin-top: 136px;
        text-align: center;
    }
    .content2{
        width: 50%;
        float: left;
      }
      .content3{
        width: 50%;
        float: right;
        box-shadow: 5px 0px 2px 5px grey;
      }
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-left: 0px;
        z-index: 9999;
        position: relative;
    }
    .img1{
        margin-left: 519px;
        width: 13%;
    }
    .img7{
        margin-left: 57px;
        margin-top: -4px;
    }
}

@media(max-width: 768px) {
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -8px;
        margin-left: 0px;
        padding-top: 17px;
    }
    .img1{
        margin-left: 83px;
        margin-top: 17px;
        width: 39%;
    }
    .img7{
        margin-left: 37px;
        margin-top: 17px;
    }
    .img3{
        color: #FF9924;
        font-size: 25px;
        font-weight: bold;
        margin-top: 42px;
        text-align: center;
    }
    
    .text{
        text-align: center;
        font-size: 20px;
        width: 79%;
        margin-left: 45px;
        line-height: 23px;
    }
    
    .text1{
        font-size: 20px;
        text-align: center;
        width: 80%;
        margin-left: 48px;
        line-height: 23px;
        margin-top: -14px;
        margin-bottom: 35px;
    }
    .text2{
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #161616;
    }
    .table {
        width: 85%;
        margin-bottom: 1rem;
        color: #212529;
        background: white;
        margin-left: 40px;
        margin-top: 13px;
        text-align: center;
    }
    
    .table td, .table th {
        padding: 6px;
        vertical-align: top;
        border: 1px solid #dee2e6;
        /* border-right: 1px solid #dee2e6; */
    }
}


@media(max-width: 390px){
    .img1{
        margin-left: 65px;
        margin-top: 17px;
        width: 39%;
    }
    .text2 {
        text-align: center;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #161616;
    }
    .table{
        width: 85%;
        margin-bottom: 1rem;
        color: #212529;
        background: white;
        margin-left: 33px;
        margin-top: 13px;
        text-align: center;
    }
    .text{
        text-align: center;
        font-size: 17px;
        width: 79%;
        margin-left: 42px;
    }

    .text1{
        font-size: 17px;
        text-align: center;
        width: 85%;
        margin-left: 34px;
        margin-bottom: 32px;
    }
}