@media(min-width: 1300px)
and (max-width : 1370px){
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-left: 0px;
    }
    .img1{
        margin-left: 519px;
        width: 13%;
    }
    .img7{
        margin-left: 57px;
        margin-top: -4px;
    }
    .text3{
        margin-left: 32px;
        color: #FF9924;
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        padding-top: 15px;
    }
    .text{
        margin-left: 32px;
        color: #FF9924;
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        padding-top: 13px;
    }
    .text2{
        margin-left: 32px;
        margin-right: 30px;
    }
}
@media(max-width: 768px) {
    .content{
        background: #FF9924;
        width: 101%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -13px;
        margin-left: 0px;
        padding-top: 17px;
        position: fixed;
    }
    .img7{
        margin-left: 37px;
        margin-top: 17px;
    }
    
    .img1{
        margin-left: 83px;
        margin-top: 17px;
        width: 39%;
    }
    
    
    .text{
        margin-left: 32px;
        color: #FF9924;
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        /* margin-top: 46px; */
        padding-top: 13px;
    }
    
    .text3{
        margin: 11px;
        color: black;
    }
    
    .text2{
        margin-left: 32px;
        margin-right: 30px;
    }
    .text3{
        margin-left: 32px;
        color: #FF9924;
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        padding-top: 88px;
    }
}


@media(max-width: 390px){
    .img1{
        margin-left: 65px;
        margin-top: 17px;
        width: 39%;
    }
}