
@media(max-width: 768px){
    .content{
        background: #FF9924;
        width: 101%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -8px;
        margin-left: 0px;
        padding-top: 17px;
    }
    
    .img1{
        margin-left: 83px;
        margin-top: 17px;
        width: 39%;
    }
    
    .textn{
        color: #FF9924;
        text-align: left;
        font-weight: bold;
        font-size: 30px;
        padding-top: 37px;
        float: left;
        margin-left: 13px;
    }
    
    .img2{
        width: 15%;
        margin-top: 31px;
        margin-left: 32px;
        float: left;
    }
    
    .form1{
        margin-top: 116px;
    }
    
    .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
        /* border-top-left-radius: 0; */
        /* border-bottom-left-radius: 0; */
        margin-left: 16px;
        border-radius: 23px;
    }
    
    .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
        /* border-top-right-radius: 0; */
        /* border-bottom-right-radius: 0; */
        border-radius: 23px;
    }
    
    .form-control {
        border-radius: 23px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: none;
        color: gray;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
        font-weight: bold;
    }
    
    .btn1 {
        background: #FF9924;
        color: white;
        margin-left: 65px !important;
        margin-top: -9px !important;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        box-shadow: none;
    }
    
    .img5{
        margin-left: 104px;
        width: 22%;
        margin-bottom: 9px;
        margin-top: 7px;
    }
    
    .img6{
        text-align: center;
        font-size: 19px;
    }
    
    .btn4{
        border-radius: 29px;
        background: #FF9924;
        color: white;
        margin-left: 15px;
        font-size: 20px;
        height: 50px;
        width: 225px;
    }
    
    .modal-content {
        position: relative;
        display: flex;
        margin-left: 43px;
        flex-direction: column;
        width: 80%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 10px;
        outline: 0;
        margin-top: 153px;
    }
    
    .img7{
        margin-left: 37px;
        margin-top: 17px;
    }
    input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
        margin-left: 4px;
    }
    .mat-card {
        background: transparent;
        color: rgba(0,0,0,.87);
        padding-left: 35px;
        box-shadow: none;
    }
    .mat-form-field {
        width: 95%;
        background-color: white;
        border: none;
        margin-bottom: 18px;
        height: 42px;
        padding-left: 15px;
        padding-right: 13px;
        border-radius: 20px;
    }
    
    .fil{
        width: 30%;
        margin-right: 8px;
    }
    .fil2{
        width: 30%;
    }
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 99999;
        display:none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
      -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    }
    .modalDialog2{
        background-color: white;
        width: 70% !important;
        margin-top: 201px !important;
        margin-left: 61px !important;
    }
}

@media(max-width: 390px){
    .img1{
        margin-left: 65px;
        margin-top: 17px;
        width: 39%;
    }
}

@media(min-width: 1300px)and (max-width : 1370px){
    .img5{
        margin-left: 104px;
        width: 22%;
        margin-bottom: 9px;
        margin-top: 7px;
    }
    .img6{
        text-align: center;
        font-size: 19px;
    }
    .btn4{
        border-radius: 29px;
        background: #FF9924;
        color: white;
        margin-left: 15px;
        font-size: 20px;
        height: 50px;
        width: 225px;
    }
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 99999;
        display:none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
      -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    }
    .modalDialog2{
        background-color: white;
        width: 70% !important;
        margin-top: 201px !important;
        margin-left: 61px !important;
    }
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 65px !important;
        margin-top: -9px !important;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        box-shadow: none;
    }
    .fil2 {
        width: 30% !important;
    }
    .fil{
        width: 30% !important;
        margin-right: 8px;
    }
    label{
        display: inline-block;
        margin-bottom: .5rem;
        font-weight: bold;
    }
    .mat-form-field{
        width: 95%;
        background-color: white;
        border: none;
        margin-bottom: 18px;
        height: 42px;
        padding-left: 15px;
        padding-right: 13px;
        border-radius: 20px;
    }
    .mat-card{
        background: transparent;
        color: rgba(0,0,0,.87);
        padding-left: 143px;
        box-shadow: none;
        margin-top: 45px;
        width: 78%;
    }
    .textn{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        padding-top: 1px;
    }
    .img2{
        width: 16%;
    margin-top: 160px;
    margin-left: 282px;
    }
    .content2{
        width: 50%;
        height: 100%;
        float: left;
      }
      .content3{
        width: 50%;
        float: right;
        height: 100%;
        box-shadow: 5px 0px 2px 5px grey;
      }
    .content{
        z-index: 99999;
        position: relative;
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-left: 0px;
    }
    .img1{
        margin-left: 519px;
        width: 13%;
    }
    .img7{
        margin-left: 57px;
        margin-top: -4px;
    }
}