<div class="content">
  <img src="assets/Imagenes/icn_back.png" class="img7">
  <a routerLink="/Home3Component"><img src="assets/Imagenes/Captura1.PNG" class="img1"></a>
    </div>
    <div class="content2">
    <img src="assets/Imagenes/icn_novedades.svg" class="img2"><p class="textn">Novedades</p>
  </div>
    <!-- <form class="form1">
        <label for="ruta">Ruta</label>
        <select class="form-control" formControlName="ruta">
          <option *ngFor="let item of rutas">{{item.idRuta}}</option>
        </select>
        <br/>
        <label for="motivo">Motivo</label>
        <select class="form-control" formControlName="ruta1">
          <option *ngFor="let item of motivos">{{item.motivodetalle}}</option>
        </select>
        <br/>
        <label for="fechainicial">Fecha Inicial</label>
        <div class="input-group mb-3">
            <select class="form-control" formControlName="ruta">
                <option>Día</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
            <select class="form-control" formControlName="ruta">
                <option>Mes</option>
                <option>Enero</option>
                <option>Febrero</option>
                <option>Marzo</option>
                <option>Abril</option>
                <option>Mayo</option>
                <option>Junio</option>
                <option>Julio</option>
                <option>Agosto</option>
                <option>Septiembre</option>
                <option>Octubre</option>
                <option>Noviembre</option>
                <option>Diciembre</option>
              </select>
              <select class="form-control" formControlName="ruta">
                <option>Año</option>
                <option>2019</option>
                <option>2020</option>
              </select>
          </div>
          <br/>
          <label for="fechaadicional">Fecha Adicional</label>
          <div class="input-group mb-3">
              <select class="form-control" formControlName="fechaadicional">
                <option>Día</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
                </select>
              <select class="form-control" formControlName="fechaadicional">
                <option>Mes</option>
                <option>Enero</option>
                <option>Febrero</option>
                <option>Marzo</option>
                <option>Abril</option>
                <option>Mayo</option>
                <option>Junio</option>
                <option>Julio</option>
                <option>Agosto</option>
                <option>Septiembre</option>
                <option>Octubre</option>
                <option>Noviembre</option>
                <option>Diciembre</option>
                </select>
                <select class="form-control" formControlName="fechaadicional">
                    <option>Año</option>
                    <option>2019</option>
                    <option>2020</option>
                </select>
            </div>
    </form> -->
  
    <!-- <a ><button type="button" class="btn1 btn" data-toggle="modal" data-target="#exampleModal">Enviar novedad</button></a> -->
   <div class="content3">
    <form [formGroup]="addressForm2" novalidate class="form1" (ngSubmit)="AgregarNovedad()">
      <mat-card class="shipping-card">
        <mat-card-content>
              <label for="ruta">Ruta</label>
              <br/>
              <mat-form-field>
                <mat-select placeholder="Selecciona tu ruta" formControlName="ruta">
                  <mat-option *ngFor="let item1 of rutas" [value]="item1.idRuta">
                    {{ item1.idRuta }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm2.controls['ruta'].hasError('required')">
              La ruta es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field>
          <br/>
              <label for="ruta">Motivo</label>
              <br/>
              <mat-form-field>
                <mat-select placeholder="Selecciona tu motivo" formControlName="motivo">
                  <mat-option *ngFor="let item2 of motivos" [value]="item2.motivodetalle">
                    {{ item2.motivodetalle }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm2.controls['motivo'].hasError('required')">
              La ruta es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field> 
              <label for="ruta">Fecha Inicial</label>
              <br/>
              <div>
                <mat-form-field class="fil">
                    <mat-select placeholder="Dia" formControlName="dia">
                      <mat-option *ngFor="let item of dias" [value]="item.d">
                        {{ item.d }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressForm2.controls['dia'].hasError('required')">
                  La ruta es <strong>obligatoria</strong>
                    </mat-error>
                  </mat-form-field> 
                   <mat-form-field class="fil">
                    <mat-select placeholder="Mes" formControlName="mes">
                      <mat-option *ngFor="let item of meses" [value]="item.m">
                        {{ item.m }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressForm2.controls['mes'].hasError('required')">
                  La ruta es <strong>obligatoria</strong>
                    </mat-error>
                  </mat-form-field>
                   <mat-form-field class="fil2" >
                    <mat-select placeholder="Año" formControlName="anio">
                      <mat-option *ngFor="let item of anios" [value]="item.an">
                        {{ item.an }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressForm2.controls['anio'].hasError('required')">
                  La ruta es <strong>obligatoria</strong>
                    </mat-error>
                  </mat-form-field>
                </div>                                  
              <label for="ruta">Fecha fin</label>
              <br/>
              <div>
                <mat-form-field class="fil">
                    <mat-select placeholder="Dia" formControlName="dia2">
                      <mat-option *ngFor="let item of dias" [value]="item.d">
                        {{ item.d }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressForm2.controls['dia'].hasError('required')">
                  La ruta es <strong>obligatoria</strong>
                    </mat-error>
                  </mat-form-field> 
                   <mat-form-field class="fil">
                    <mat-select placeholder="Mes" formControlName="mes2">
                      <mat-option *ngFor="let item of meses" [value]="item.m">
                        {{ item.m }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressForm2.controls['mes'].hasError('required')">
                  La ruta es <strong>obligatoria</strong>
                    </mat-error>
                  </mat-form-field>
                   <mat-form-field class="fil2">
                    <mat-select placeholder="Año" formControlName="anio2">
                      <mat-option *ngFor="let item of anios" [value]="item.an">
                        {{ item.an }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressForm2.controls['anio'].hasError('required')">
                  La ruta es <strong>obligatoria</strong>
                    </mat-error>
                  </mat-form-field>
                </div>                   
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="btn1" type="submit">Enviar Novedad</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
           
            <div class="modal-body">
            <img src="assets/Imagenes/icn_pop_up.svg" class="img5">
            <p class="img6">Tu novedad se ha enviado exitosamente ¡Nos vemos pronto!</p>

            <a routerLink="/RutasComponent"><button type="button" class="btn btn4" data-dismiss="modal">Aceptar</button></a>
            </div>
          </div>
        </div>
      </div> -->
      <div id="modal" class="modalDialog">
        <div class="modalDialog2">
          <img src="assets/Imagenes/icn_pop_up.svg" class="img5">
          <p class="img6">Tu novedad se ha enviado exitosamente ¡Nos vemos pronto!</p>
          <a routerLink="/Home3Component"><button class="btn btn4">Aceptar</button></a> 
        </div>
      </div>