@media(min-width: 1300px)
and (max-width : 1370px){
    .img5{
        margin-left: 96px;
        width: 34%;
        margin-top: 7px;
    }
    .img6{
        text-align: center;
        font-size: 19px;
        margin-bottom: -4px;
    }
    .btn4{
        border-radius: 29px;
        background: #FF9924;
        color: white;
        margin-left: 14px;
        font-size: 20px;
        width: 225px;
        height: 50px;
        margin-top: 24px;
    }
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-left: 0px;
    }
    .img1{
        margin-left: 519px;
        width: 13%;
    }
    .img7{
        margin-left: 57px;
        margin-top: -4px;
    }
    .text{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        padding-top: 13px;
        margin-bottom: -4px;
    }
    .mat-card {
        display: block;
        position: relative;
        padding: 16px;
        border-radius: 4px;
        width: 46%;
        margin-left: 357px;
        box-shadow: none !important;
    }
    .mat-form-field {
        display: inline-block;
        position: relative;
        text-align: left;
        width: 96%;
    background-color: white;
    border: 1px solid #ced4da;
    margin-bottom: 18px;
    height: 40px;
    padding-left: 10px;
    }
    .form-check-label{
        color: #FF9924;
        margin-bottom: 0;
        margin-left: -284px;
        border-bottom: solid 1px #FF9924;
    }
    input[type=checkbox], input[type=radio]{
        box-sizing: border-box;
        padding: 0;
        margin-left: -308px;
    }
    .mat-errorid {
        color: #f44336;
        margin-left: -309px;
    }
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 182px !important;
        margin-top: -12px !important;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        margin-bottom: 11px !important;
    }
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 99999;
        display:none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
      -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    }
    .modalDialog2{
        background-color: white;
        width: 21% !important;
    margin-top: 177px !important;
    margin-left: 529px !important;
    }
}

@media(max-width: 768px) {
    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
        background-color: grey !important;
    }
    .form-control{
        margin-bottom: 5px;
    }
    .loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: 1s all;
        opacity: 0;
    }
    .loading.show {
        opacity: 1;
    }
    .loading .spin {
        border: 3px solid gray;
        border-top-color: #FF9924;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }   
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -8px;
        margin-left: 0px;
        padding-top: 17px;
    }
    .img7{
        margin-left: 37px;
        margin-top: 17px;
    }
    select.form-control[multiple], select.form-control[size] {
        height: 42px;
    }
    .es{
        margin-left: -23px;
    }
    .img1{
        margin-left: 83px;
        margin-top: 17px;
        width: 39%;
    }
    
    .box1{
    background: white;
    width: 85%;
    border: solid 1px #999;
    margin-left: 30px;
    margin-top: 30px;
    }
    
    .text{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        padding-top: 13px;
        margin-bottom: -4px;
    }
    
    .text2{
        font-weight: bold;
    }
    
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 67px !important;
        margin-top: 3px !important;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        margin-bottom: 11px !important;
    }

    .text4{
        margin-top: 40px;
        font-weight: bold;
    }
    
    .btn2{
        background: white;
        color:#FF9924;
        border:  solid 1px #FF9924;
        margin-left: 103px;
        margin-top: 15px;
        height: 50px;
        border-radius: 30px;
        width: 200px; 
    }
    
    .form-check-label {
        color: #FF9924;
        margin-bottom: 0;
        margin-left: 26px;
        border-bottom: solid 1px #FF9924;
        /* border-bottom: solid 1px #FF9924; */
    }
    
    .btn3{
        background: white;
        color:black;
        margin-left: 103px;
        margin-top: 15px;
        height: 50px;
        border-radius: 30px;
        width: 200px; 
        box-shadow: 1px 1px 4px #999;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .text3{
        font-weight: bold;
        margin-top: 16px;
        margin-left: 33px;
    }
    
    .form1{
        width: 85%;
        margin-left: 33px;
    }

    .modal-content {
        position: relative;
        display: flex;
        margin-left: 43px;
        flex-direction: column;
        width: 80%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 10px;
        outline: 0;
        margin-top: 153px;
    }
    .img5{
        margin-left: 96px;
        width: 34%;
        margin-top: 7px;
    }
    
    .img6{
        text-align: center;
        font-size: 19px;
        margin-bottom: -4px;
    }
    
    .btn4{
        border-radius: 29px;
        background: #FF9924;
        color: white;
        margin-left: 14px;
        font-size: 20px;
        width: 225px;
        height: 50px;
        margin-top: 24px;
    }
    input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
        margin-left: 4px;
    }
    .mat-card {
        background: transparent;
        color: rgba(0,0,0,.87);
        padding-left: 35px;
    }
    .mat-form-field {
        width: 95%;
        background-color: white;
        border: solid 1px rgba(0,0,0,0.40);
        margin-bottom: 18px;
        height: 42px;
        padding-left: 10px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: white;
    }
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 99999;
        display:none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
      -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    }
    .modalDialog2{
        background-color: white;
        width: 70% !important;
        margin-top: 201px !important;
        margin-left: 61px !important;
    }
}

@media(max-width: 390px){
    .mat-form-field{
        width: 95%;
        background-color: white;
        border: solid 1px rgba(0,0,0,0.40);
        margin-bottom: 18px;
        height: 40px;
        padding-left: 10px;
    }
    .img1{
        margin-left: 65px;
        margin-top: 17px;
        width: 39%;
    }
    .text{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-top: 16px;
        padding-top: 13px;
    }
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 57px;
        margin-top: 16px;
        height: 50px;
        border-radius: 30px;
        width: 200px;
        margin-bottom: 18px;
    }
}
