<div class="loading show" *ngIf="cargando">
  <div class="spin"></div>
</div>
<div class="" id="" *ngIf="!cargando">
<div class="content">
  <img src="assets/Imagenes/icn_back.png" class="img7">
  <a routerLink="/"><img src="assets/Imagenes/Captura1.PNG" class="img1"></a>
    </div>

<p class="text">Informaci&oacute;n del usuario</p>
<!-- <form class="form1"  [formGroup]="regisform">
  
      <label for="Nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingresa tu nombre" required>
  
      <label for="telefono">Tel&eacute;fono</label>
      <input type="number" class="form-control" id="telefono" formControlName="telefono" placeholder="Ingresa tu número de télefono" required>

        <label for="tipodedocumento">Tipo de documento</label>
        <select class="form-control" [(ngModel)]='selected' formControlName="tipodocumento">
          <option>C&eacute;dula de ciudadania</option>
          <option>C&eacute;dula de extrangeria</option>
          <option>Pasaporte</option>
        </select>
    
        <label for="documento">Documento</label>
        <input type="number" class="form-control" id="documento" formControlName="documento" placeholder="Ingresa tu número del documento" required>

        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingresa tu contraseña" required>

        <label for="password">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password2" placeholder="Ingresa tu contraseña" required>

        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <a  routerLink="/TerminosycondicionesComponent"> <label class="form-check-label" for="exampleCheck1">Acepto Términos y Condiciones*</label></a>
      <button type="submit" class="btn btn1" (click)="registrar()"  data-toggle="modal" data-target="#exampleModal" >Realizar registro</button>
  </form> -->
  <form [formGroup]="addressForm" novalidate (ngSubmit)="registrar()">
    <mat-card class="shipping-card">
      <!-- <mat-card-header>
        <mat-card-title>Shipping Information</mat-card-title>
      </mat-card-header> -->
      <mat-card-content>
        <div class="row">
          <div class="col">
            <label for="nombre">Id empresa</label>
            <br/>
            <mat-form-field>
              <input matInput placeholder="Ingresa el id de la empresa" formControlName="idEmpresa">
              <mat-error *ngIf="addressForm.controls['idEmpresa'].hasError('required')">
               el id de la empresa es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            <label for="nombre">Nombre</label>
            <br/>
            <mat-form-field>
              <input matInput placeholder="Ingresa tu nombre" formControlName="nombre" id="nombrels">
              <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
               El nombre es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <label for="Nombre">T&eacute;lefono</label>
            <br/>
            <mat-form-field>
              <input matInput placeholder="Ingresa tu número de télefono" formControlName="telefono" type="number"> 
              <mat-error *ngIf="addressForm.controls['telefono'].hasError('required')">
               El telefono es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">      
          <div class="col">
            <label for="Nombre">Tipo de documento</label>
            <br/>
            <mat-form-field>
              <mat-select placeholder="Selecciona tu tipo de documento" formControlName="tipoDocumento">
                <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                  {{ state.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addressForm.controls['tipoDocumento'].hasError('required')">
             El tipo de documento es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <label for="Nombre">Documento</label>
            <br/>
            <mat-form-field>
              <input matInput placeholder="Ingresa tu número del documento" formControlName="documento" type="number">
              <mat-error *ngIf="addressForm.controls['documento'].hasError('required')">
            El documento es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <label for="Nombre">Contraseña</label>
            <br/>
            <mat-form-field >
              <input matInput placeholder="Ingresa tu contraseña" formControlName="clave" type="password">
              <mat-error *ngIf="addressForm.controls['clave'].hasError('required')">
                La contraseña es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <label for="Nombre">Confirmar Contraseña</label>
            <br/>
            <mat-form-field>
              <input matInput placeholder="Ingresa tu contraseña" formControlName="password2" type="password">
              <mat-error *ngIf="addressForm.controls['password2'].hasError('required')">
                La confirmacion de la contraseña es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
<br/>
            <input type="checkbox" class="form-check-input" id="exampleCheck2" formControlName="city">
            <a  routerLink="/TerminosycondicionesComponent"> <label class="form-check-label" for="exampleCheck1">Acepto Términos y Condiciones*</label></a>
            <mat-error class="mat-errorid" *ngIf="addressForm.controls['city'].hasError('required')">
              Es <strong>obligatorio</strong>
            </mat-error>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btn1" type="submit">Registrarme</button>
      </mat-card-actions>
    </mat-card>
  </form>
  
    </div>
    <!-- <div class="modal fade" id="mostrarModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         
          <div class="modal-body">
          <img src="assets/Imagenes/Captura7.PNG" class="img5">
          <p class="img6">¡Felicitaciones!</p>
          <p class="img6">Ya puedes ingresar a ver tus rutas</p>
          
         <a routerLink="/"><button type="submit" class="btn btn4" data-dismiss="modal">Aceptar</button></a> 
          </div>
        </div>
      </div>
    </div> -->
  <div id="modal" class="modalDialog">
    <div class="modalDialog2">
      <img src="assets/Imagenes/Captura7.PNG" class="img5">
      <p class="img6">¡Felicitaciones!</p>
      <p class="img6">Ya puedes ingresar a ver tus rutas</p>
      <a routerLink="/"><button class="btn btn4">Aceptar</button></a> 
    </div>
  </div>