<div class="content">
    <img src="assets/Imagenes/icn_back.png" class="img7">
    <a routerLink="/Home3Component"><img src="assets/Imagenes/Captura1.PNG" class="img1"></a>
    </div>
    <div class="content2">
    <img src="assets/Imagenes/icn_detalle.svg" class="img2">
    <p class="textn">Detalle de tu ruta {{idRuta[0].idRuta}}</p>
</div>
<div class="content3">
    <p class="text">Si quieres seguir la ruta puedes
        verla o compartirla en el siguiente enlace https://rutapps-183a3.web.app/#/usuario/{{idRuta[0].codigo}}
    </p>
    <a routerLink="/Home3Component"><button type="button" class="btn1 btn">Home</button></a>
    <a href="https://rutapps-183a3.web.app/#/usuario/{{idRuta[0].codigo}}" target="_blank"><button type="button" class="btn3 btn"><img src="assets/Imagenes/Captura2.PNG" class="img3"> Ruta en tiempo real</button></a>
</div>