
@media(max-width: 768px){
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -8px;
        margin-left: 0px;
        padding-top: 17px;
    }
    
    .textn{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        padding-top: 13px;
    }
    
    .img1{
        margin-left: 83px;
        margin-top: 17px;
        width: 39%;
    }
    
    .img2{
        margin-left: 138px;
        margin-top: 75px;
        width: 35%;
    }
    .text{
        margin: 30px;
        text-align: center;
        font-size: 17px;
        margin-top: 0px;
    }
    
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 103px;
        margin-top: 3px;
        height: 50px;
        border-radius: 30px;
        width: 225px; 
    }
    
    .btn2{
        background: white;
        color:#FF9924;
        border:  solid 1px #FF9924;
        margin-left: 103px;
        margin-top: 15px;
        height: 50px;
        border-radius: 30px;
        width: 225px; 
    }
    
    .btn3{
        background: white;
        color:black;
        margin-left: 103px;
        margin-top: 15px;
        height: 50px;
        border-radius: 30px;
        width: 225px; 
        box-shadow: 1px 1px 4px #999;
        margin-bottom: 42px;
    }
    
    .img3{
        width: 18%;
    }
    .img7{
        margin-left: 37px;
        margin-top: 17px;
    }
}
@media(max-width: 390px){
    .img1{
        margin-left: 65px;
        margin-top: 17px;
        width: 39%;
    }
    .img5{
        margin-left: 91px;
        width: 25%;
    }
    .text{
        margin: 30px;
        text-align: center;
        font-size: 15px;
        margin-top: 0px;
    }
    .img2{
        margin-left: 107px;
        margin-top:40px;
        width: 40%;
    }
    .btn3{
        background: white;
        color: black;
        margin-left: 84px;
        margin-top: 15px;
        height: 50px;
        border-radius: 30px;
        width: 202px;
        box-shadow: 1px 1px 4px #999;
        margin-bottom: 20px;
    }
    .btn1 {
        background: #FF9924;
        color: white;
        margin-left: 84px;
        margin-top: 2px;
        height: 50px;
        border-radius: 30px;
        width: 202px;
    }
}
@media(min-width: 1300px)and (max-width : 1370px){
    .content2{
        width: 50%;
        height: 100%;
        float: left;
      }
      .content3{
        width: 50%;
        float: right;
        height: 100%;
        box-shadow: 5px 0px 2px 5px grey;
      }
    .content{
        z-index: 99999;
        position: relative;
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-left: 0px;
    }
    .img1{
        margin-left: 519px;
        width: 13%;
    }
    .img7{
        margin-left: 57px;
        margin-top: -4px;
    }
    .img2{
        margin-left: 281px;
        margin-top: 151px;
        width: 15%;
    }
    .textn{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        padding-top: 13px;
    }
    .text{
        margin: 125px;
        text-align: center;
        font-size: 20px;
        margin-top: 131px;
    }
    .btn3{
        background: white;
        color: black;
        margin-left: 234px;
        margin-top: -56px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
        box-shadow: 1px 1px 4px #999;
        margin-bottom: 42px;
        font-size: 15px;
        padding-top: 0px;
    }
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 231px;
        margin-top: -180px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
    }
    .img3{
        width: 18%;
    }
}