.content{
    background: #FF9924;
    width: 101%;
    border-radius: 0px 0px 20px 20px;
    margin-top: -8px;
    margin-left: 0px;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 3px solid gray;
    border-top-color: #FF9924;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}    
.img1{
    margin-left: 116px;
    margin-top: 19px;
    width: 43%;
}

.titulo{
    background: white;
    box-shadow: 1px 1px 1px #E8E0DF;
    text-align: center;
    margin-top: -16px;
    padding-top: 25px;
    z-index: -1;
    position: relative;
    padding-bottom: 2px;
}

.text{
    float: left;
    font-weight: bold;
    font-size: 21px;
    margin-left: 25px;
}

.text2{
    float: left;
    font-size: 18px;
    margin-left: 84px;
    margin-top: 4px;
}

.text3{
    font-weight: bold;
    font-size: 21px;
    color: #FF9924;
    position: relative;
    left: -115px;
}

.img2{
    margin-left: 31px;
    margin-top: 2px;
}
.img3{
    /* left: -280px; */
    margin-right: 220px;
    /* float: right; */
    margin-left: 31px;
    margin-top: -13px;
    z-index: -1;
}
.titulo2{
    background: white;
    box-shadow: 1px 1px 1px #E8E0DF;
    width: 70%;
    margin-left: 74px;
    margin-top: -47px;
    /* padding-bottom: 46px; */
}

.titulo3{
    background: white;
    box-shadow: 1px 1px 1px #E8E0DF;
    width: 70%;
    margin-left: 74px;
    /* padding-bottom: 47px; */
    margin-top: -47px;
}

.text4{
    padding: 10px;
    float: left;
    color: darkgrey;
}

.text7{
    padding: 10px;
    float: left;
    margin-left: 62px;
}
.text5:after{
    content:'...';
    position: absolute;
 
    left:300px;
    margin-left: -40px;
    width: 40px;
    height:100%;
    top:0;
    background:linear-gradient(to right, rgba(240, 244, 245, 0), rgba(240, 244, 245, 1));
}
.text5{
    padding: 10px;
    /* float: left; */
    color: #FF9924;
    font-weight: bold;
    overflow:hidden;
    max-width:300px;
    position:relative;
    white-space: nowrap;
}
.text6 {
    padding: 10px;
    color: #FF9924;
    font-weight: bold;
    margin-bottom: -18px;
}

@media(max-width: 390px){
    .text2{
        float: left;
        font-size: 18px;
        margin-left: 56px;
        margin-top: 4px;
    }

    .img2{
        margin-left: 18px;
    }

    .titulo2{
        background: white;
        box-shadow: 1px 1px 1px #999;
        width: 72%;
        margin-left: 74px;
        margin-top: -283px;
        padding-bottom: 46px;
    }

    .titulo3 {
        background: white;
        box-shadow: 1px 1px 1px #999;
        width: 72%;
        margin-left: 74px;
        padding-bottom: 47px;
        margin-top: 18px;
    }

    .text3{
        font-weight: bold;
        font-size: 21px;
        color: #FF9924;
        position: relative;
        left: -177px;
    }
}