<div class="loading show" *ngIf="cargando">
    <div class="spin"></div>
  </div>
  <div class="" id="" *ngIf="!cargando">
<!-- <div class="content">
    <img src="assets/Imagenes/Captura1.PNG" class="img1">
    </div> -->
<div class="titulo">
<!-- <p class="text">Noviembre</p><p class="text2">Viernes 13/11/2020</p> -->
<p class="text3">Pasajeros</p>
</div>
<ng-container *ngFor="let item of dataUsuarios.response;index as i">
    <img src="assets/Imagenes/cir8.PNG" [ngClass]="{'img2':i==0,'img3':i>0}">
    <div *ngIf="item.reg!=''" [ngClass]="{'titulo2':i==0,'titulo3':i>0}">
        <p class="text4">{{item.reg | date: 'shortTime'}}</p><p class="text5">{{item.nombre}}</p>
    </div>
</ng-container>

<!-- <div class="titulo3">
    <p class="text4">00:00 a.m.</p><p class="text5">Armando Rodriguez</p>
</div>
<div class="titulo3">
    <p class="text4">00:00 a.m.</p><p class="text5">Armando Rodriguez</p>
</div>
<div class="titulo3">
    <p class="text4">00:00 a.m.</p><p class="text6">Armando Rodriguez</p>
    <p class="text7">00/00/0000</p>
</div>
<div class="titulo3">
    <p class="text4">00:00 a.m.</p> <p class="text5">Armando Rodriguez</p>
</div> -->
<script>
    function Ctrl($scope)
{
    $scope.date = new Date();
}
</script>
</div>