/* You can add global styles to this file, and also import other style files */
body{
    background:#F8F8F8;
}
html, body { height: 100%; font-family: 'SegoeUI';}

@font-face {
    font-family: SegoeUI;
    src: url(assets/fuentes/segoeui.ttf) format("truetype");
  }

  label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: 'SegoeUI';
}