@media(min-width: 1300px)
and (max-width : 1370px) {
.c{
  box-shadow: 5px 0px 2px 5px grey;
    height: 100%;
    width: 50%;
    float: right;
}
.img1{
  position: absolute;
  left: 118px;
  width: 30%;
  top: 218px;
}
.text {
  margin-left: 166px;
  color: #FF9924;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding-top: 89px;
}
.text2{
  font-size: 18px;
  margin-left: 166px;
  margin-right: 236px;
  margin-top: -10px;
  line-height: 22px;
}
.btn1{
  background: #FF9924;
  color: white;
  margin-left: 43px;
  margin-top: -47px;
  height: 50px;
  border: none;
  border-radius: 30px;
  width: 225px;
  margin-bottom: 18px;
}
.text3{
  color: #FF9924;
  margin-left: 120px;
  text-decoration: underline;
}
.mat-card {
  box-shadow: none !important;
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  width: 52%;
  margin-left: 151px;
}
.mat-form-field{
  width: 86%;
  background-color: white;
  border: 1px solid #ced4da;
  margin-bottom: 18px;
  height: 40px;
  padding-left: 13px;
}
}

@media(max-width: 768px){
  .text4{
    margin-top: 17px;    
  }
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 3px solid gray;
    border-top-color: #FF9924;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}   
.content{
    background: white;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    margin-top: -23px;
    margin-left: 0px;
    box-shadow: 1px 1px 1px #E8E0DF;
}
.img1{
  margin-left: 83px;
  margin-bottom: 23px;
  margin-top: 134px;
  width: 60%;
}
.text{
  margin-left: 47px;
  color: #FF9924;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding-top: 52px;
}

.text2{
  font-size: 18px;
  margin-left: 47px;
  margin-right: 35px;
  margin-top: -10px;
  line-height: 22px;

}

.form1{
  width: 76%;
  margin-left: 47px;
}
.btn1{
  background: #FF9924;
  color: white;
  margin-left: 43px;
  margin-top: -47px;
  height: 50px;
  border: none;
  border-radius: 30px;
  width: 225px;
  margin-bottom: 18px;
}

.text3{
  color: #FF9924;
  margin-left: 120px;
  text-decoration: underline;
}

.mat-card {
  background: transparent;
  color: rgba(0,0,0,.87);
  padding-left: 49px;
  border:none;
  box-shadow: none;
}
.mat-form-field {
  width: 86%;
  background-color: white;
  border: 1px solid #ced4da;
  margin-bottom: 18px;
  height: 42px;
  padding-left: 13px;
}
}

@media(max-width: 390px){
  .img1{
    margin-left: 71px;
    margin-bottom: 23px;
    margin-top: 134px;
    width: 60%;
}
  .text{
    margin-left: 47px;
    color: #FF9924;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding-top: 31px;
}
.btn1{
  background: #FF9924;
  color: white;
  margin-left: 26px;
  margin-top: 27px;
  height: 50px;
  border-radius: 30px;
  width: 225px;
  margin-bottom: 18px;
}
.text3{
  color: #FF9924;
  margin-left: 101px;
  text-decoration: underline;
}
}