<div class="loading show" *ngIf="cargando">
    <div class="spin"></div>
  </div>
  <div class="c" id="" *ngIf="!cargando">
    <div class="content">
        <img src="assets/Imagenes/logo1.PNG" class="img1">
        </div>
        <p class="text">Inicio de sesi&oacute;n</p>
        <p class="text2"><b>¡Hola!</b> Ingresa tus datos para iniciar sesi&oacute;n y  ver tus rutas.</p>
        <form [formGroup]="addressForm" novalidate (ngSubmit)="Login()">
          <mat-card class="shipping-card">
            <!-- <mat-card-header>
              <mat-card-title>Shipping Information</mat-card-title>
            </mat-card-header> -->
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <label for="usuario"><p class="d">Documento</p></label>
                  <br/>
                  <mat-form-field class="dd">
                    <input matInput placeholder="Ingresa tu documento" formControlName="usuario" id="nombrels">
                    <!-- <mat-error *ngIf="addressForm.controls['usuario'].hasError('required')">
                     El nombre es <strong>obligatorio</strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col">
                  <label for="clave" class="ddd">Contraseña</label>
                  <br/>
                  <mat-form-field>
                    <input matInput placeholder="Ingresa tu contraseña" formControlName="clave" type="password"> 
                    <!-- <mat-error *ngIf="addressForm.controls['clave'].hasError('required')">
                     El telefono es <strong>obligatorio</strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              </mat-card-content>
              <mat-card-actions>
                <button class="btn1" type="submit">Iniciar sesion</button>
                <a routerLink="/Formulario2Component" class="text3">Registrate</a>
              </mat-card-actions>
              </mat-card>
        </form>
        <!-- <form class="form1"  [formGroup]="regisform">
  
          <label for="Nombre">Usuario</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingresa tu usuario" required>
      
          <label for="telefono" class="text4">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingresa tu  contraseña" required>           
          <a routerLink="/Home3Component"><button type="submit" class="btn btn1">Iniciar sesion</button></a>
          
      </form> -->
      </div>