@media(max-width: 768px){
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -8px;
        margin-left: 0px;
        padding-top: 17px;
    }
    
    .loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: 1s all;
        opacity: 0;
    }
    .loading.show {
        opacity: 1;
    }
    .loading .spin {
        border: 3px solid gray;
        border-top-color: #FF9924;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }       
    .es{
        margin-left: -23px;
    }
    
    .img1{
        margin-left: 83px;
        margin-top: 17px;
        width: 39%;
    }
    
    .box1{
        background: white;
        width: 85%;
        box-shadow: 1px 1px 4px #999;
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .text{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-top: 46px;
        padding-top: 13px;
    }
    
    .text2{
        font-weight: bold;
    }
    
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 99px;
        margin-top: 24px;
        height: 50px;
        border-radius: 30px;
        width: 225px; 
    }
    
    .btn2{
        background: white;
        color:#FF9924;
        border:  solid 1px #FF9924;
        margin-left: 103px;
        margin-top: 15px;
        height: 50px;
        border-radius: 30px;
        width: 200px; 
    }
    
    .btn3{
        background: white;
        color:black;
        margin-left: 103px;
        margin-top: 15px;
        height: 50px;
        border-radius: 30px;
        width: 200px; 
        box-shadow: 1px 1px 4px #999;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .img7{
        margin-left: 37px;
        margin-top: 17px;
    }
}


@media(max-width: 390px){
    .img1{
        margin-left: 65px;
        margin-top: 17px;
        width: 39%;
    }
    .text                        {
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-top: 5px;
        padding-top: 13px;
    }
    .btn1{
        background: #FF9924;
        color: white;
        margin-left: 70px;
        margin-top: 24px;
        height: 50px;
        border-radius: 30px;
        width: 225px;
    }
}

@media(min-width: 1300px)
and (max-width : 1370px){
    .btn1{     
    background: #FF9924;
    color: white;
    margin-left: 560px;
    margin-top: 24px;
    height: 50px;
    border-radius: 30px;
    width: 225px;
    margin-bottom: 12px;
    }
    .es{
        margin-left: -23px;
    }
    .text2{
        font-weight: bold;
    }
    .text{
        color: #FF9924;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-top: 46px;
        padding-top: 13px;
    }
    .content{
        background: #FF9924;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        margin-left: 0px;
    }
    .img1{
        margin-left: 519px;
        width: 13%;
    }
    .img7{
        margin-left: 57px;
        margin-top: -4px;
    }
    .box1{
        background: white;
        width: 26%;
        box-shadow: 1px 1px 4px #999;
        margin-left: 507px;
        margin-top: 30px;
    }
}