
<div class="content">
  <img src="assets/Imagenes/icn_back.png" class="img7">
  <a routerLink="/RutasComponent"><img src="assets/Imagenes/Captura1.PNG" class="img1"></a>
    </div>

    <div class="box1">
        <p class="text">Informaci&oacute;n de la ruta</p>
    <div class="container">
            <div class="row">
              <div class="col-7">
               <p class="text2">Nombre empresa</p>
               <p class="text2" style="border-bottom: solid 1px grey;padding-bottom: 12px;margin-right: -7px;">C&oacute;digo de la ruta</p>
               <p class="text2">Nombre ruta</p>
               <p class="text2" style="height: 97px;">Nombre Conductor</p>
               <p class="text2">Placa vehículo</p>
               <p class="text2">Codigo interno empresarial</p>
               <p class="text2">&Aacute;rea</p>
              </div>
              <div class="col-5">
                <p class="es">{{idRuta[0].empresa.nombre}}</p>
                <p class="es" style="border-bottom: solid 1px grey;padding-bottom: 12px;">{{idRuta[0].codigo}}</p>
                <p class="es">{{idRuta[0].nombre}}</p>
                <p class="es" style="height: 97px;">{{idRuta[0].conductor.nombre}}</p>
                <p class="es">{{idRuta[0].vehiculo.placa}}</p>
                <p class="es">{{idRuta[0].empresa.idEmpresa}}</p>
                <p class="es"  style="margin-top: 40px;">Lorem Ipsum</p>
              </div>
            </div>
          </div>
    </div>

    <button type="button" class="btn1 btn" routerLink="/GraciasComponent" (click)="rutausuario()">Registrarme</button>
  